<div class="my_footer">
    <div class="my_footer_left_menu">
        <div class="my_text_menu_title">JStory</div>
        <div class="my_text_menu_body">제이스토리는 마음을 담아 만듭니다.</div>
    </div>
    <div class="my_footer_right_menu">
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">메뉴가 궁금할 땐</div>
            <div class="my_text_menu_body">스킨</div>
            <div class="my_text_menu_body">스킨</div>
            <div class="my_text_menu_body">스킨</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">사용하다 궁금할 땐</div>
            <div class="my_text_menu_body">오픈 API</div>
            <div class="my_text_menu_body">오픈 API</div>
            <div class="my_text_menu_body">오픈 API</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">정책이 궁금할 땐</div>
            <div class="my_text_menu_body">이용약관</div>
            <div class="my_text_menu_body">이용약관</div>
            <div class="my_text_menu_body">이용약관</div>
            <div class="my_text_menu_body">이용약관</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">도움이 필요할 땐</div>
            <div class="my_text_menu_body">권리침해신고</div>
            <div class="my_text_menu_body">권리침해신고</div>
        </div>
    </div>
</div>

<script src="/js/myDrawer.js"></script>
</body>

</html>