{{>/layout/main-header}}

<div class="container">
    <input id="postId" type="hidden" value="{{data.post.id}}" />
    <input id="pageOwnerId" type="hidden" value="{{data.post.user.id}}" />

    <div class="my_post_detail_title">
        <h2>{{data.post.title}}</h2>
    </div>
    <hr />

    <div class="my_post_detail_content">
        {{{data.post.content}}}
    </div>

    {{#data.isPageOwner}}
    <div>
        <a class="btn btn-outline-success" href="#">수정</a>
        <button id="btn-delete" class="btn btn-outline-danger">삭제</button>
    </div>
    {{/data.isPageOwner}}
    <br />

    <div class="my_livere">
        <!-- 라이브리 시티 설치 코드 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC81MTM0MC8yNzgyMQ==">
            <script type="text/javascript">
                (function (d, s) {
                    var j, e = d.getElementsByTagName(s)[0];

                    if (typeof LivereTower === 'function') { return; }

                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;

                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript>라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
        </div>
        <!-- 시티 설치 코드 끝 -->
    </div>
</div>

<script src="/js/post/detail.js"></script>

{{>/layout/footer}}