{{>/layout/main-header}}

<div class="container">

    <div class="my_post_detail_title">
        <h2>{{post.title}}</h2>
    </div>
    <hr />

    <div class="my_post_detail_content">
        {{{post.content}}}
    </div>

    <div>
        <a class="btn btn-outline-success" href="#">수정</a>
        <button class="btn btn-outline-danger">삭제</button>
    </div>
    <br />
</div>

{{>/layout/footer}}