{{>/user/header}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <div class="my_error_box my_hidden">

            </div>
            <form action="/join" method="post" onsubmit="return validation()">
                <input id="username" class="my_auth_form_box_input" type="text" name="username" placeholder="유저네임"
                    maxlength="20" required />
                <input id="password" class="my_auth_form_box_input" type="password" name="password" placeholder="비밀번호"
                    maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" name="" placeholder="비밀번호 확인"
                    maxlength="20" required />
                <input class="my_auth_form_box_input" type="email" name="email" placeholder="이메일" maxlength="60"
                    required />
                <button type="submit" class="my_secondary_btn">회원가입</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div>비밀번호 찾기</div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    let valid = {
        state: false,
        password: "",
        email: ""
    }

    $("#same-password").keyup((event) => {
        passwordSameCheck();
    });



    function validation() {
        if (valid.state === false) {
            // valid.password 내용을 div박스안에 채워 넣기
            $(".my_error_box").html(`${valid.password}<br/>${valid.email}<br/>`);
            $(".my_error_box").removeClass("my_hidden");
        }

        return valid.state;
    }

    function passwordSameCheck() {
        // 1. password 값 찾기
        let password = $("#password").val();

        // 2. same-password 값 찾기
        let samePassword = $("#same-password").val();

        // 3. 두개의 값을 비교하기
        if (password == samePassword) {
            valid.password = "패스워드가 동일합니다";
            valid.state = true;
        } else {
            valid.password = "패스워드가 동일하지 않습니다.";
            valid.state = false;
        }
    }



</script>

{{>/layout/footer}}