{{>/layout/main-header}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <div class="my_error_box my_hidden">

            </div>
            <!-- 수정은 put 요청 fetch 사용해야함 -->
            <form>
                <input id="username" class="my_auth_form_box_input" type="text" placeholder="유저네임" maxlength="20"
                    required readonly />
                <input id="password" class="my_auth_form_box_input" type="password" placeholder="기존 비밀번호" maxlength="20"
                    required />
                <input id="same-password" class="my_auth_form_box_input" type="password" placeholder="수정 비밀번호"
                    maxlength="20" required />
                <input class="my_auth_form_box_input" type="email" name="email" placeholder="이메일" maxlength="60"
                    required readonly />
                <button type="submit" class="my_secondary_btn">비밀번호수정</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br />
</div>

{{>/layout/footer}}