.my_nav_slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my_nav_slider_visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 100px;
    border-top: 1px solid rgb(185, 185, 185);
}

.my_atag_none {
    text-decoration-line: none;
    color:black;
}
.my_atag_none:hover {
    text-decoration-line: none;
    color:black;
}

.my_fakeimg {
    width: 100%;
    height: 100%;
    background-color: rgb(185, 185, 185);
}

.my_error_box {
    background-color: rgb(250, 200, 200);
    font-style: italic;
    padding: 15px;
}

.my_navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(185, 185, 185);
    position: relative;
}

.my_dropdown_menu {
    position: absolute !important; 
}

.my_navbar_title {
    color: rgb(25, 25, 25);
    font-size: 30px;
}

.my_icon_btn {
    border: 1px solid rgb(25, 25, 25);
    padding: 15px;
    cursor: pointer;
}

.my_icon_btn:hover {
    background-color: rgb(185, 185, 185);
}

.my_profile_rounded_img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.my_profile_rounded_img_btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.my_profile_rounded_img_btn_lg {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.my_icon_rounded_btn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}

.my_hidden {
    display: none;
}

.my_secondary_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(185, 185, 185);
    color: white;
    margin: 5px 0;
}

.my_success_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(30, 180, 159);
    color: white;
    margin: 5px 0;
}

.my_active_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 85, 68);
    color: white;
    margin: 5px 0;
}

.my_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.my_text_two_line{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    height: 40px;
    line-height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
}

@media (max-width : 420px) { 
    .my_post_list_item {
        display: block !important;
    }
    .my_post_list_item_left {
        width: 100% !important;
    }
    .my_success_btn {
        width: 100% !important;
    }
    .my_navbar_title {
        font-size: 20px !important;
        font-weight: 600 !important;
    }
    .my_text_title {
        font-size: 20px !important;
        font-weight: 600 !important;
    }
}

