
.my_fakeimg {
    height: 200px;
    background-color: rgb(185, 185, 185);
}

.my_error_box {
    background-color: rgb(250, 200, 200);
    font-style: italic;
    padding: 15px;
}

.my_navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(185, 185, 185);
    position: relative;
}

.my_dropdown_menu {
    position: absolute !important; 
}

.my_navbar_title {
    color: rgb(25, 25, 25);
    font-size: 30px;
}

.my_icon_btn {
    border: 1px solid rgb(25, 25, 25);
    padding: 15px;
    cursor: pointer;
}

.my_icon_btn:hover {
    background-color: rgb(185, 185, 185);
}

.my_profile_rounded_img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.my_profile_rounded_img_btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.my_hidden {
    display: none;
}

.my_secondary_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(185, 185, 185);
    color: white;
    margin: 5px 0;
}

.my_success_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(30, 180, 159);
    color: white;
    margin: 5px 0;
}

.my_elipse {
    overflow: hidden;
    text-overflow: ellipsis;
}