.my_main_start_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.my_main_start_btn:hover {
    background-color: rgb(255, 85, 68);
    color: white;
    text-decoration-line: none;
}

.my_main_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 15px;
    margin-bottom: 30px;
}

.my_main_item {
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 0px 5px 5px 0px;
}

.my_main_item_username {
    border-top: 1px solid rgb(185, 185, 185);
    padding: 5px 0px;
}

.my_main_item_username:hover {
    background-color: rgb(255, 85, 68);
}

.my_main_item_thumnail {
    height: 200px;
    border-bottom: 1px solid rgb(25, 25, 25);
}