.my_text_title {

}

.my_text_subtitle {
    
}

.my_text_menu_title {
    font-size: 20px;
    font-weight: 800;
}

.my_text_menu_subtitle {
    font-size: 13px;
    font-weight: 800;
}

.my_text_menu_body {
    font-size: 13px;
}


.my_text_body_lg {

}

.my_text_body_md {

}

.my_text_body_sm {

}