{{>/layout/main-header}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <form action="/s/category" method="POST">
                <input class="my_auth_form_box_input" type="text" name="title" placeholder="카테고리명" />
                <button type="submit" class="my_secondary_btn">등록</button>
            </form>
        </div>
    </div>
    <br />
</div>

{{>/layout/footer}}